# Entorno virtual
.venv/

# Archivos de configuración sensibles
.env

# Archivos de Python no necesarios
__pycache__/
*.py[cod]
*.pyo

# Archivos de logs
*.log

# Archivos de entorno de Jupyter, VSCode, etc.
.ipynb_checkpoints/
.vscode/
.DS_Store
